<p> show </p>

<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p><%= @question.created_at %></p>

<%= link_to 'Edit Question', edit_question_path %>

<h2>Answers</h2>


<%= form_for [@question, @answer] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit "Add Answer" %>
<% end %>

<% if !@answers.empty? %>
  <% @answers.each do |answer| %>
  <%= answer.body %>
  <p>Answered by: <%= answer.user.email %></p>
  <% end %>
<% end %>
